/*** Nav bar ***/
header{
  position: fixed;
  z-index:100;
  width:100%;
  background-color:$main-bg;
  top:0;
  .header-container{
    width:100%;
    // bring the background color back
    &::after{
      content:'';
      display:table;
      clear:both;
    }
    img{
      float:left;
      height:70px;
      width:70px;
      max-width:19%;
      padding: 5px 5px;
    }
    nav{
      width:81%;
      float:right;
      ul{
        padding: 0;
        list-style:none;
        width:100%;
        li{
          text-align: center;
          display:inline-block;
          // margin:0 7px;
          width:33%;
          padding-top:25px;
          position:relative;
          a{
            color: $nav-content;
            text-decoration:none; // get rid of hightline
            text-transform: uppercase;
            &:hover{
              color:yellow;
              &::before{
                width:100%;
                transition:all ease-in 0.5s
              }
            }
            &::before{
              content:'';
              display:block;
              height:5px;
              width:0%;
              position:absolute;
              background-color:yellow;
              top:5px;
            }
          }
        }
      }
    }

    @media screen and (min-width:767px){
      width: 80%;
      margin: 0 auto;
      nav{
        ul{
          float:right;
          width:100%;
          li{
            // margin: 0 15px;
            a{
              font-size:20px;
            }
          }
        }
      }
    }
    @media screen and (min-width:1023px){
      width: 90%;
      margin: 0 auto;
      img{
        margin-left:100px;
      }
      nav{
        width:45%;
        ul{
          float:right;
          width:100%;
          li{
          }
        }
      }
    }

    
    @media screen and (min-width:1920px){
      width: 80%;
      margin: 0 auto;
      img{
        margin-left:100px;
      }
      nav{
        width:70%;
        ul{
          float:right;
          width:55%;
          li{
          }
        }
      }
    }    
  }  
}